* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    margin: 10px 10px;

}

#console {
    overflow-y: scroll;
    height: 500px;
    width: 75%;
    position: absolute;
    background-color: rgba(1,1,1,.5);
    border: 1px solid black;
    color: rgba(0,0,0,.6);
}
#consoleInput {
    position: relative;
    width: 50%;
    display: block;
    top: 10px;
    /*box-shadow:  0 0 5px rgba(0, 0, 255, 1);*/
    border:0px solid rgba(0,0,0, 0.8);
    top:-13px;
    left:8px;
    cursor: none;
    background-color: rgba(0,0,0,0);

}


input#consoleInput:focus {
    border: 0px !important;
    box-shadow: 0 0;
    outline: none;
}


#consoleOutput {
    position: relative;
    width: 50%;
    display: block;
}
#consoleOutput:after {
    content: "$";
    display: block;
    display: block;
    width: 10px;
    height: 15px;
    left:10px;
}